/*  HEADER  */
.nav-main {
    position: fixed;
    top:0;
    width: 100%;
    height: 6rem;
    padding: 0 3rem;
    background: #a2a2a2;
    background: linear-gradient(274deg, #a2a2a2 30%, #fff 100%);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    cursor: pointer;
    z-index: -1;
    background-color: #000;
    font-size: 4rem;
    background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 0.5) 10%, transparent 10%, transparent 100%);
    background-size: 200% 100%;
    animation: reflection 10s ease-in-out infinite;
    -webkit-animation: reflection 10s ease-in-out infinite;
    -moz-animation: reflection 10s ease-in-out infinite;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

@keyframes reflection {

    100%,
    20% {
        background-position: -120% 0;
    }
}

@-moz-keyframes reflection {

    100%,
    20% {
        background-position: -120% 0;
    }
}

@-webkit-keyframes reflection {

    100%,
    20% {
        background-position: -120% 0;
    }
}

.title .span {
    font-weight: 400;
}
.nav-list{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    z-index: 3;
    opacity: 0;
}

.nav-list.active{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);    
    opacity: 1;
}

.nav-a{
    color: var(--lightGrey);
    width: 100%;
    font-size: 2.5rem;
    border-radius: 0;
    
}
/* .nav-list {
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 1rem 1rem 20rem;
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    
    z-index: 3;
} */



.menu-btn {
    display: block;
    font-size: 3.5rem;
    -webkit-text-stroke: 0.5px;
    transform-origin: center center;
    color: #727272;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.menu-btn-active {
    position: absolute;
    display: block;
    right: 3rem;
    font-size: 3.5rem;
    transform-origin: center center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transform: rotate(360deg);
    color: #727272;
    z-index: 5;
}