nav{
	position: absolute;
	height: 100vh;
	width: 250px;
	background: linear-gradient(hsla(0, 0%, 80%, 0), hsla(0, 0%, 80%, 1));
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	flex-grow: 2;
}

img{
	margin-top: 30px;
	border-radius: 50%;
	border: 1px solid black;
	height: 150px;
}

.link{
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 1.5rem;
	border-radius: 25px;
	background-color: hsla(0, 0%, 67%, 1);
}

.link:hover{
	background-color: hsla(0, 0%, 50%, 1);
}

.end{
	margin-top: 400px;
}









