.section {
  display: flex;
  min-height: 800px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to right,
    hsla(0, 0%, 78%, 0.4),
    hsla(0, 0%, 78%, 1)
  );
}

.side-image {
  position: absolute;
  left: -99999px;
}

.login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 2;
  gap: 5vh;
}

.form {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  background-color: hsla(0, 0%, 85%, 1);
  border-radius: 20px;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.form-title {
  font-size: 2.4rem;
  margin: 20px 0 50px 0;
  font-weight: bold;
}

.inputbox {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 63%, 1);
  border-radius: 20px;
  margin-bottom: 20px;
}

.input {
  margin-left: 5px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  height: 36px;
  flex-grow: 2;
}

.icon {
  font-size: 24px;
  margin-left: 5px;
}

.button {
  text-align: center;
  font-size: 1.8rem;
  width: 70%;
  padding: 1rem;
  border-radius: 20px;
  background-color: hsl(0, 0%, 63%);
  border: none;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1440px) {
  body {
    overflow: hidden;
  }

  .section {
    background: linear-gradient(
      to right,
      hsla(0, 0%, 78%, 0),
      hsla(0, 0%, 78%, 1)
    );
  }

  .side-image {
    position: relative;
    left: 0px;
  }

  .side-image img {
    height: 100%;
    border-radius: 0px;
  }

  .side-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
