@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #595959;
  --color-gray-100: #0a0a0a;
  --color-black: #000;

  /* Border radiuses */
  --br-11xl: 30px;
}
